* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #254e4c;
    color: white;
    font-family: cursive;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

header {
    margin: 20px 10px;
}

button {
    cursor: pointer;
    font-family: cursive;
    background-color: rgb(4, 58, 37);
    color: white;
}

button:hover {
    background-color: black;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}
.icons-header {
    margin: auto 20px;
}

.search-container {
    margin: 30px 20px;
}

.insert-location {
    height: 30px;
    width: 250px;
}

.main-container {
    flex-direction: column;
    width: 100%;
}

.btn-container {
    justify-content: space-between;
}

.map-section {
    justify-content: space-around;
}

.aside-container {
    flex-direction: column;
    margin: 0 30px;
}

.map {
    width: 50%;
    height: 400px;
    margin-left: 20px;
}

.weather {
    border: 1px solid black;
    width: 250px;
    height: 200px;
}

.location-word {
    margin-right: 5px;
    font-weight: bold;
}

.btn-choose-location {
    margin-right: 40px;
    width: 40px;
}

.btn {
    width: 130px;
    height: 30px;
}

.btn-my-location {
    margin-right: 20px;
}

/* -----------modal-weather-------------- */

.modal-weather {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: #dedbba;
    color: black;
    text-align: center;
    font-size: 0.8em;
    margin-top: 50px;
    padding-bottom: 20px;
}

.location {
    font-weight: bold;
}
.weather-header {
    font-size: 1.5em;
    font-weight: bold;
}

.weather-box {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 5px;
    margin: 0 10px;
    padding: 4px;
    min-height: 40px;
}

.modal-desc {
    font-size: 1.2em;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.flag {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    align-self: center;
}


@media (max-width: 700px){

    .search-container {
        flex-direction: column;
    }
    .btn-container {
        flex-direction: column;
    }
    .search-container-line {
        margin-bottom: 20px;
    }
    .btn-my-location {
        margin-bottom: 20px;
    }
    .map {
        height: 350px;
    }
    .weather {
        width: 220px;
    }
}

@media (max-width: 600px){
    header {
        flex-direction: row;
        justify-content: center;
    }
    .modal-weather {
        margin-bottom: 10px;
    }
    .btn-container {
        align-items: center;
        flex-direction: row;
    }
    .search-container {
        margin: auto;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .search-container-line {
        margin: 0;
    }
    .map-section {
        flex-direction: column;
        margin: auto;
    }
    .aside-container {
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
    .btn-my-location {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .map {
        width: 90%;
        height: 300px;
    }
    .weather {
        width: 100%;
        height: 175px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .main-container {
        justify-content: space-around;
    }
    .icons-header {
        flex-wrap: nowrap;
    }
}


